<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <ul>
            <li><a href="/page2">Home</a></li>
            <li><a href="/reports">Reports</a></li>
        </ul>
    </div>
    <div class="header">
       <button id="special" onclick="document.body.classList.toggle('navbar-visible');"></button>
    </div>
    <div class="contentcontainer">
    <div id="extras">
        <div class="box">
            <h4>Location</h4>
            <label>Name:</label>
            <input type="text" id="name"></input><br>
            <label>ID:</label>
            <input type="text" id="id"></input><br>
            <button id="scanin">Scan in</button>
        </div>
        <div class="box">
            <h4>Incoming</h4>

        </div>
    </div>
    <div class="container">
        <ul class="table">
            <li class="tableheader">
                <div class="name">Name</div>
                <div class="id">ID</div>
                <div class="timein">Time In</div>
                <div class="timer">Elapsed Time</div>
                <div class="timeout">Time Out</div>
                <div class="status">Status</div>
            </li>
            <li class="row">
                <div class="name">sample name</div>
                <div class="id">123456</div>
                <div class="timein">00:00</div>
                <div class="timer">00:00</div>
                <div class="timeout">00:00</div>
                <div class="status">pending</div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>