<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <script src="js/Controller.js"></script>
    <title>Check In</title>
</head>
<body>
    <div class="otherstuff">
        <button id="config" onclick="showElement('configwindow', 'block');"></button>
        <label id="displayRoomNum">Room: 000</label>
        <label id="userCount"><b>Students out: 0</b></label>
    </div>
    <div class="window" id="configwindow">
        <div class="header1">
            <h3>Room Settings</h3>
            <button id="exit" onclick="hideElement('configwindow')"><b>x</b></button>
        </div>
        <div class="body">
            <div id="outer">
                <div id="inner1">
                    <label>Room Number</label><br>
                    <input type="number" id="roomNum" placeholder = "000"><br>
                    <label>Add Staff</label>
                    <button type="buttom" id="addStaff" onclick= "showElement('staffName','block');"><b>+</b></button>
                    <input type="text" id="staffName"><br>
                    <button class="b1" id="add" onclick="Controller.openTestFunc(event); addStaff();"><b>Open</b></button>
                    <button class="b1" id="close" onclick="Controller.closeTestFunc(event); staffList.innerHTML = ''; content1.innerHTML = '';"><b>Close</b></button><br>
                    <button class="b1" type = "submit" id="setRoom" onclick="hideElement('staffName');"><b>Update Settings</b></button>
                </div>
                <div id="inner2">
                    <ul id="staffList">
                        <li class="li1"><b>Current Users:</b></li><br>
                    </ul>
                </div>
            </div>
            <div id="content1"></div>
        </div>
    </div>
    <div class="logo">  
        <img src="images/3435.png"></img>
        <h3>Scan to check in</h3>
    </div>

    <div class="inputs">
        <div id="namethislater">
            <ul id="userlist">
            </ul>
        </div>
        <form>
        <label><b>ID:</b></label>
        <input type="number" id = "idNum" placeholder = "Enter your ID" ><br>
        <label><b>Name:</b></label>
        <input type="text" id = "flname" placeholder = "Enter your name" ><br>
        </form>
        <button type="submit" class="b1" id="start"><b>Start</b></button>
    </div>
    <div class="window" id="checkoutwindow">
        <div class="header1">
            <h3>Check Out</h3>
            <p id="time"></p>
            <button id="exit1" onclick="hideElement('checkoutwindow')"><b>x</b></button>
        </div>
        <div class="body">
            <label>Location:</label><br>
            <input type="number" id="location" placeholder = "000"><br>
            <label>Notes:</label><br>
            <input type="text" id="notes"><br>
            <button class="b1" id="co" onclick="Controller.sendCheckInFunc(event); addStudent(document.getElementById('flname').value, document.getElementById('idNum').value); document.getElementById('checkoutwindow').style.display = 'none';"><b>Check Out</b></button>
        </div>
    </div>
    <script src="js/checkout.js"></script>
</body>
</html>
