<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <ul>
            <li><a href="/page2">Home</a></li>
            <li><a href="/reports">Reports</a></li>
        </ul>
    </div>
    <div class="header">
        <button id="button1" onclick="document.body.classList.toggle('navbar-visible');"></button>
    </div>
    <div class="contentcontainer">
        <div class="container">
        <div id="search">
            <input type="text" id="searchtext">
            <button class="b2" id="searchbutton" onclick="search(document.getElementById('searchtext').value);">Search</button>
        </div>
        <div id="filter">
            <label>From:</label>
            <input type="number">
            <label>To:</label>
            <input type="number">
            <button class="b2" id="applyfilter" onclick="populateList();">Apply</button>
            <button class="b2" id="clear" onclick="clearlist();">Clear</button>
        </div>
        </div>
    <div class="container">
        <ul class="table" id="reporttable">
            <li class="tableheader">
                <div class="name">Name</div>
                <div class="id">ID</div>
                <div class="timein">Time In</div>
                <div class="timer">Elapsed Time</div>
                <div class="timeout">Time Out</div>
            </li>
            <li class="row">
                <div class="name">sample name</div>
                <div class="id">123456</div>
                <div class="timein">00:00</div>
                <div class="timer">00:00</div>
                <div class="timeout">00:00</div>
            </li>
        </ul>
    </div>
    </div>
    <script src="js/Reports.js"></script>
</body>
</html>