<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<style>
table, th, td {
  border:1px solid black;
  border-collapse: collapse;
}
</style>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> 

	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
	<script src="js/DataLoader.js"></script>
	<script src="js/ViewBuilder.js"></script>
	<script src="js/Controller.js"></script>
	<script src="js/DualRoom.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> 
	<link href="css/pass-styles.css" rel="stylesheet"> 


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


</head>
<body>
	<div class="w-100">
		<div class="w-100">
			<img src="./images/HCLogo.PNG"></img>
		</div>		
		<div id="ci-logged-in-header" class="d-none">
			<label class="ml-4 center"><b>User:</b></label><label id="ci-user-header" class="ml-2"></label>
			<label class="ml-4"><b>Location:</b></label><label id="ci-location-header" class="ml-2"></label>
			<label id="ci-close-test" class="menu-btn float-right mr-4" onclick="Controller.sendClose()">Sign Out</label>
		</div>
		<ul class="nav nav-tabs" id="menu-tabs" role="tablist">
			<li id="signin-tab-item" class="nav-item">
				<a class="nav-link active" id="signin-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Location Sign In</a>
			</li>
			
			<li id="scan-tab-item" class="nav-item d-none">
				<a class="nav-link" id="location-checker-tab" data-toggle="tab" href="#locationChecker" role="tab" aria-controls="locationChecker" aria-selected="false">Location Checker</a>
			</li>
			<li id="report-tab-item" class="nav-item d-none">
				<a class="nav-link" id="room-block-report-tab" data-toggle="tab" href="#roomBlockReport" role="tab" aria-controls="roomBlockReport" aria-selected="false">Report</a>
			</li>
			<li id="dashboard-tab-item" class="nav-item d-none">
				<a class="nav-link" id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false">Dashboard</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade" id="locationChecker" role="tabpanel" aria-labelledby="location-checker-tab">
				<section id="location-checker-sec">
				<div>
					<label class="ml-4">Name: </label>
					<input id="ci_students_id" class="ml-2" list="ci_students_list" name="ci_students_id" onchange="Controller.sendCheckInFunc(event)">
					<datalist id="ci_students_list">
					</datalist>
					<label id="boys-capacity"></label><span id="boys-at" class="badge badge-pill badge-success px-3 ml-2 mt-2" lav-count=0></span>
					<label id="girls-capacity" class="ml-4"></label><span id="girls-at" class="badge badge-pill badge-success px-3 ml-2 mt-2" lav-count=0></span>

					<br>
			
					<div id="location-checker-content">
						<label>In Table</label>
						<br>
						<table id="ci-status" style="width:75%">
							<thead id="std-room-in-header">
								<tr>
									<th style="width:30%">Student</th>
									<th style="width:20%">TimeIn</th>
									<th style="width:20%">TimeOut</th>
									<th style="width:5%">Gender</th>
									<th style="width:25%">Note</th>
								</tr>
							</thead>
							<thead id="dual-room-in-header" class="d-none">
								<tr>
									<th style="width:30%">Student</th>
									<th style="width:15%">TimeIn</th>
									<th style="width:15%">TimeOut</th>
									<th style="width:10%">Room</th>
									<th style="width:30%">Note</th>
								</tr>
							</thead>
							<tbody id="ci-rows">
							</tbody>
						</table>
						<br>
						<label class="pit-link" onclick="ViewBuilder.toggleOutTable(event)">Toggle Out Table</label>
						<div id="ci-out-area">
							<label>Out Table</label>
							<br>
							<table id="ci-out-status" style="width:75%">
								<thead id="std-room-out-header">
									<tr>
										<th style="width:30%">Student</th>
										<th style="width:20%">TimeIn</th>
										<th style="width:20%">TimeOut</th>
										<th style="width:5%">Gender</th>
										<th style="width:25%">Note</th>
									</tr>
								</thead>
								<thead id="dual-room-out-header" class="d-none">
									<tr>
										<th style="width:30%">Student</th>
										<th style="width:15%">TimeIn</th>
										<th style="width:15%">TimeOut</th>
										<th style="width:10%">Room</th>
										<th style="width:30%">Note</th>
									</tr>
								</thead>
								<tbody id="ci-out-rows">
								</tbody>
							</table>
						</div>
					</div>
					


					<div id="ci-dash-area">						
						<br>

						<div style="padding-top: 80px;">
							<div class="row">

							  <div class="col-7">

								<label>
									<!-- <a class="btn btn-primary" data-bs-toggle="collapse" href="#" role="button" aria-expanded="false" aria-controls="collapseExample" onclick="Controller.buildDashboard()">
										Display All Locations
									</a> -->
			
									<label class="pit-link" onclick="Controller.buildDashboard(true)">Display All Locations</label>

									<label class="pit-link" onclick="Controller.buildDashboard(false)">Refresh Dashboard</label>
			
									<label class="pit-link" onclick="ViewBuilder.toggleLogs(event)">Toggle Logs</label>

									
									
									<!-- <button type="button" onclick=toggle() id="btn-main" class="btn btn-primary btn-sm">Display All Locations</button> -->
								</label>
								
								<div id="table-animation">
									<table id="ci-dash-status" class="table table-sm table-striped d-none" >
										<thead id="ci-dash-header">
											<tr class="table-primary">
												<th style="width:40%" scope="col">Staff Name</th>
												<th style="width:40%" scope="col">Location</th>
												<th style="width:10%" scope="col">Num Boys</th>
												<th style="width:10%" scope="col">Num Girls</th>
											</tr>
										</thead>
										<tbody id="ci-dash-rows">
										</tbody>
									</table>
								</div>
							  </div>
							  <div class="col-5">
								<div id="ci-logs" style="padding-top: 50px;" >
								</div>
							  </div>
							</div></div>


						
					</div>
					
						
				</div>
			  </section>
			</div>
			<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">					
				<label>Logged By:</label>
				<input id="ci_faculty_id" list="ci_faculty_list" name="ci_faculty_id">
				<datalist id="ci_faculty_list">
				</datalist>
				<i class="fa fa-info-circle pitInfo pitTooltip">
					<span class="pitTooltipText">Login by selecting who you are.  It will search the Faculty and Guest User List for you.</span>
				</i>
				<br>
				<label>Location:</label>
				<input id="ci_rooms_id" list="ci_rooms_list" name="ci_rooms_id">
				<datalist id="ci_rooms_list">
				</datalist>
				<br>
				<button id="ci-open-test" onclick="Controller.loginAttempt(event)">Sign In</button>
		

			</div>
			<div class="tab-pane fade" id="roomBlockReport" role="tabpanel" aria-labelledby="room-block-report-tab">
				<section id="room-block-report-sec">
				<div>
					<label>Date: </label>
					<input id="ci_rep_date" type="date" class="ml-2"></input>
					<label class="ml-4">Location:</label>
					<input id="ci_rep_rooms_id" list="ci_rep_rooms_list" name="ci_rep_rooms_id">
					<datalist id="ci_rep_rooms_list">
					</datalist>
					<br>
					<label>Blocks - </label>
					<label>1:</label><input id="ci_rep_b1" class="ml-1" type="checkbox" checked></input>
					<label>2:</label><input id="ci_rep_b2" class="ml-1" type="checkbox" checked></input>
					<label>Lunch:</label><input id="ci_rep_blunch" class="ml-1" type="checkbox" checked></input>
					<label>3:</label><input id="ci_rep_b3" class="ml-1" type="checkbox" checked></input>
					<label>4:</label><input id="ci_rep_b4" class="ml-1" type="checkbox" checked></input>
					<label>5:</label><input id="ci_rep_b5" class="ml-1" id="ci_rep_b5" type="checkbox" checked></input>
					
					<label class="ml-4">Include Passing:</label>
					<input id="ci_rep_include_passing" class="ml-2" checked type="checkbox"></input>
					<button id="ci_rep_get" class="ml-3" onclick="ViewBuilder.getReport(event)">Get</button>
					<div>
						<table id="room-block-report" >
							<thead>
								<tr>
									<th style="width:25%">Student</th>
									<th style="width:5%">Block</th>
									<th style="width:15%">TimeIn</th>
									<th style="width:15%">TimeOut</th>
									<th style="width:5%">Gender</th>
									<th style="width:5%">Room</th>
									<th style="width:20%">Note</th>
									<th style="width:10%">By</th>
									
								</tr>
							</thead>
							<tbody id="room-block-rows">
							</tbody>
						</table>
					</div>
				</div>
				</section>
			</div>
			<div class="tab-pane fade" id="dashboard" role="tabpanel" aria-labelledby="dasboard-tab">
				<button onclick=Controller.sendGetDashboard()>dashboard</button>
				<table class="table mb-0">
					<thead class="small text-uppercase bg-body text-muted">
						<tr>
							<th>Room ID</th>
							<th>F</th>
							<th>M</th>
							<th>Capacity</th>
							<th>Staff</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody id="tablebody">
					</tbody>
				</table>
			</div>
			
		</div>
	</div>
	<%- include('partials/Login') %>
 </body>
 <footer> 
 </footer>



<script>
var theController = new Controller();
theController.initializeRTData();



 /*
function openTestFunc(e) {
	console.log("in open test func");
	socket = new WebSocket('ws://localhost:1337');
    console.log("here1");
	socket.onopen = function () {
		creds={func:'signin', userName:document.getElementById("user-name").value,userLocation:document.getElementById("location").value};
        socket.send(JSON.stringify(creds));
    };
	  console.log("here2");
	socket.onmessage = receiveMessage;
  console.log("here3");
    socket.onerror = function (error) {
        console.log('WebSocket error: ' + error);
    };
	console.log("here4");
}
*/
/*
function receiveMessage(message) {
console.log("receving->" + message.data);
		var msg=JSON.parse(message.data);
		if ( msg.func =="signinsuccess" ) {
			content.innerHTML += "SUCCESS SIGNIN: " + msg.message  + '<br />';

		} else if ( msg.func == "successSendMessage" ) {
			content.innerHTML += "SUCCESS SEND: " + msg.message  + '<br />';

		} else if ( msg.func == "sendMessage" ) {
			content.innerHTML += "From: " + msg.userName + " ->" + msg.message  + '<br />';
		} else {
			content.innerHTML += "Unknown message->"  + JSON.stringify(msg) + '<br>';
		}
}
*/
/*
function closeTestFunc(e) {
	console.log("in close test func");
	socket.send (JSON.stringify({ func: 'close'} )) ;

	socket.close(3021);
}
function messageInputFunc(e) {
	console.log("messageInputFunc" + document.getElementById(e.srcElement.id).value);

}
*/
/*
function sendTestFunc(e) {
	console.log("sendTestFunc->" + document.getElementById(e.srcElement.id).value);
	var message=document.getElementById("message-text").value;
	creds.func='sendMessage';
	creds.message=message;
	creds.toUserName=document.getElementById("to-user").value;

	socket.send(JSON.stringify(creds));
}
function sendCheckInFunc(e) {
	console.log("sendTestFunc->" + document.getElementById(e.srcElement.id).value);
	var message=document.getElementById("message-text").value;
	creds.func='scannedId';
	creds.message=message;
	creds.toUserName=document.getElementById("to-user").value;

	socket.send(JSON.stringify(creds));
}
*/
</script>

</html>
